%section#chronicle
  .container
    %h1= t(:header, scope: 'applicant.chronicle')
    %ul.timeline
      - @applicant.chronicle_items.sort_by(&:id).each do |ci|
        - alignment = ci.id.even? ? :right : nil
        = render 'chronicle_items/chronicle_item', chronicle_item: ci, alignment: alignment
