- content_for :header do
  = render 'header', applicant: @applicant

= render 'introduction', applicant: @applicant
= render 'chronicle_items/chronicle', applicant: @applicant
= render 'skills/skills', applicant: @applicant
