// examples: .bg-software, .bg-personal-shade-1, .text-technology
@each $key, $color in $colors {
  .bg-#{$key} {
    background-color: $color;
  }

  .bg-#{$key}-shade-1 {
    background-color: shade($color, $intensity-1);
  }

  .text-#{$key} {
    color: $color;
  }
}
