.text-1 { font-size: $size-1; }
.text-2 { font-size: $size-2; }
.text-3 { font-size: $size-3; }
.text-4 { font-size: $size-4; }
.text-5 { font-size: $size-5; }
.text-6 { font-size: $size-6; }
.text-7 { font-size: $size-7; }
.text-8 { font-size: $size-8; }
