- i18n_scope = 'applicant.interests'
%span.goto#goto-interests
%section#interests
  .container
    %h1= t(:header, scope: i18n_scope)
    - applicant.interests.each do |i|
      .card.card-body.mb-4{class: i.color_class}
        %h2= i.title
