- i18n_scope = 'applicant.interests'
%span.goto#goto-interests
%section.section-interests
  .container
    %h1= t(:header, scope: i18n_scope)
    .f-row.f-wrap.mx--6
      - applicant.interests.each do |i|
        .card.card-body.mx-6.mb-6{class: i.color_class}
          %h2.m-0= i.title
