$lighten_defalut: 13.5%
$darken_defalut: 13.5%

$red: #FF6961
$red_light: #FF6961
$red_dark: #FF6961

$green: #77DD77
$green_light: lighten($green, $lighten_defalut)
$green_dark: darken($green, $darken_defalut)

$blue: #AEC6CF
$blue_light: lighten($blue, $lighten_defalut)
$blue_dark: darken($blue, $darken_defalut)

$orange: #FFB347
$orange_light: lighten($orange, $lighten_defalut)
$orange_dark: darken($orange, $darken_defalut)

$violet: #CB99C9
$violet_light: lighten($violet, $lighten_defalut)
$violet_dark: darken($violet, $darken_defalut)

$brown: #836953
$brown_light: lighten($brown, $lighten_defalut)
$brown_dark: darken($brown, $darken_defalut)

$gray: #CFCFC4
$gray_light: lighten($gray, $lighten_defalut)
$gray_dark: darken($gray, $darken_defalut)

$yellow: #FDFD96
$yellow_light: lighten($yellow, $lighten_defalut)
$yellow_dark: darken($yellow, $darken_defalut)

$magenta: #f49ac2
$magenta_light: lighten($magenta, $lighten_defalut)
$magenta_dark: darken($magenta, $darken_defalut)

$gray-darker: lighten($gray, 13.5%)
$gray-dark: lighten($gray, 20%)
$gray: lighten($gray, 33.5%)
$gray-light: lighten($gray, 60%)
$gray-lighter: lighten($gray, 93.5%)
$gray-lightest: lighten($gray, 97.25%)

$brand-primary: $yellow
$brand-success: $green
$brand-info: $blue
$brand-warning: $orange
$brand-danger: $red
