// -----------------------------------------------------------------------------
// intensity
// -----------------------------------------------------------------------------

$intensity-1: 13.5%;
$intensity-2: 20%;
$intensity-3: 33.5%;
$intensity-4: 46.7%;
$intensity-5: 93.5%;



// -----------------------------------------------------------------------------
// colors
// -----------------------------------------------------------------------------

// https://www.google.com/design/spec/style/color.html
$material-red: #F44336;
$material-pink: #E91E63;
$material-purple: #9C27B0;
$material-deep-purple: #673AB7;

$material-indigo: #3F51B5;
$material-blue: #2196F3;
$material-light-blue: #03A9F4;
$material-cyan: #00BCD4;
$material-teal: #009688;

$material-green: #4CAF50;
$material-light-green: #8BC34A;
$material-lime: #CDDC39;

$material-yellow: #FFEB3B;
$material-amber: #FFC107;
$material-orange: #FF9800;
$material-deep-orange: #FF5722;

$material-brown: #795548;
$material-grey: #9E9E9E;
$material-blue-grey: #607D8B;


$color-white: #FFF;
$color-black: #000;


// functional
$color-personal:        $material-blue;
$color-educational:     $material-green;
$color-professional:    $material-red;

$color-introduction:    $material-red;
$color-chronicle:       $material-blue;
$color-skills:          $material-green;
$color-interests:       $material-deep-purple;



// -----------------------------------------------------------------------------
// spaces
// -----------------------------------------------------------------------------



// -----------------------------------------------------------------------------
// sizes
// -----------------------------------------------------------------------------



// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------

$font-family-normal:
    'Source Sans Pro', 'Open Sans', 'Segoe UI', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;