#introduction
  background-color: $brown
  margin-top: 72px

  .card
    border: 0
    border-radius: 0
    cursor: pointer
    background-color: lighten($brown, 20%)
    &.active
      img
        opacity: 1 !important
      .card-title
        opacity: 1 !important
      .card-text
        opacity: 1 !important

  img
    width: 100%
    opacity: 0.4

  .card-title
    opacity: 0

  .card-text
    position: absolute
    bottom: 15px
    opacity: 0
    font-size: 18px

#chronicle
  .filter
    @include media-breakpoint-down(lg)
      display: none !important
    position: fixed
    top: 100px
    .timeline-badge
      width: 50px
      height: 50px
      text-align: center
      font-size: 1.2em
      margin-bottom: 10px
      cursor: pointer
    li
      list-style: none

  .timeline
    min-height: 900px

  .period span
    display: inline-block
    margin-right: 5px

#skills
  background-color: $yellow_light
