.applicant-header-introduction
  background-color: $color-introduction
.section-introduction
  background-color: lighten($color-introduction, $intensity-1)
  margin-top: 72px
  .table-wrapper
    display: table
    width: 100%
    > div
      display: table-cell
    .image
      width: 430px
    .quote
      padding: 30px
      color: $color-white
      font-size: 30px
      text-align: center
      vertical-align: middle


.applicant-header-chronicle
  background-color: $color-chronicle
.section-chronicle
  background-color: $color-white

  .timeline
    min-height: 900px

  .period span
    display: inline-block
    margin-right: 5px


.applicant-header-skills
  background-color: $color-skills
.section-skills
  padding-bottom: 75px


.applicant-header-interests
  background-color: $color-interests
.section-interests
  padding-bottom: 75px


.applicant-header-faqs
  background-color: $color-faqs
.section-faqs
  padding-bottom: 75px
  min-height: 900px
