.section-interests
  .card
    float: left
    display: inline-block
    margin-right: 20px
    padding: 15px 30px

  .professional
    background-color: $color-professional
    border-color: $color-professional
    color: white

  .personal
    background-color: $color-personal
    border-color: $color-personal
    color: white
